body {
	background-color: #a8d5e2;
}
h1, h2 {
	color: #104911;
}
.search-bar {
	background-color: #f9a620;
	color: white;
	border: none;
}
.search-btn {
	background-color: #ffd449;
	color: #548c2f;
	border: none;
}
.recipe-list {
	max-height: 400px;
	overflow-y: auto;
}
.list-group-item {
	background-color: #f9a620;
	border: none;
	color: white;
}
.list-group-item:hover {
	background-color: #ffd449;
	color: #548c2f;
}

h2 {
	margin-bottom: 5%;
}